
* {
    -fx-btn: #E38959;
    -fx-btn-hover: #C35E3D;
}

.text, .label {
    -fx-font-size: 12px;
    -fx-font-weight: 500;
}

.text-field {
    -fx-max-width: 48px;
    -fx-alignment: center;
}

.button {
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-padding: 4px;
    -fx-border-radius: 4px;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.toggle-btn {
    -fx-min-width: 24px;
    -fx-max-width: 24px;
    -fx-min-height: 24px;
    -fx-max-height: 24px;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.button:hover {
    -fx-background-color: -fx-button-highlight;
}

.toggle-btn:selected {
    -fx-background-color: -fx-btn;
}

#btn-container {
    -fx-spacing: 16px;
}

#btn-container .button {
    -fx-padding: 4px 16px 4px 16px;
    -fx-border-radius: 4px;
    -fx-background-color: -fx-btn;
}

#btn-container .button:hover {
    -fx-background-color: -fx-btn-hover;
}