* {
    -fx-text-white: #FFFFFF;
    -fx-button-highlight: #454963;
    -fx-background-black: #35384A;
    -fx-close-red: #D74747;
}

.tab {
    -fx-min-width: 250px;
}

.tab-pane {
    -fx-padding: 0 -1 -1 -1;
}

.text-fx {
    -fx-fill: -fx-text-white;
}

#timer-root {
    -fx-background-color: -fx-background-black;
}

#mode {
    -fx-font-size: 24px;
    -fx-font-weight: 500;
}

#timer {
    -fx-font-size: 72px;
    -fx-font-weight: 500;
}

.button {
    -fx-padding: 8px;
    -fx-border-radius: 4px;
    -fx-background-color: rgba(255, 255, 255, 0);
}

.button:hover {
    -fx-background-color: -fx-button-highlight;
}

#settings-btn {
    -fx-graphic: url("icons/settings.png");
}

#close-btn {
    -fx-graphic: url("icons/close.png");
}

#close-btn:hover {
    -fx-background-color: -fx-close-red;
}

#start-btn {
    -fx-graphic: url("icons/start.png");
}

#start-btn:can_pause {
    -fx-graphic: url("icons/pause.png");
}

#stop-btn {
    -fx-graphic: url("icons/stop.png");
}

#reset-btn {
    -fx-graphic: url("icons/reset.png");
}